<div class="scroll-conteiner">
  <mat-accordion class="headers-align" multi>
    @for(item_type of info_types; track item_type){
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <mat-icon>account_circle</mat-icon> {{ item_type.title }} </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <div>(8)</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="toggle-conteiner">
        @for(item_info of item_type.infos; track item_info){
        <mat-slide-toggle [(ngModel)]="item_info.selected">
          <b>{{ item_info.labelPT }}</b
          >: {{ item_info.valuePT }}
        </mat-slide-toggle>
        }
      </div>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
